.todo-input {
  padding: 4px 10px 4px;
  font-size: 12px;
  font-family: 'Helvetica Neue', Verdana, sans-serif;
  line-height: 20px;
  border: solid 1px #dddddd;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 300;
  flex-grow: 1;
}

:host(:not([hidden])) {
  display: flex;
  // justify-content: space-between;
  flex-grow: 1;
}